body, html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #540804;
}

.navbar{
    background-color: #ea8c55;
    display: inline-block;
    position: absolute;
    top: 75px;
    z-index: 2;
    padding: 20px;
    margin: 20px;
    height: 200px;
}

.linkBox{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    border: 5px solid;
    border-radius: 15px;
    border-color: #81171b;
    background-color: #ad2e24;
    flex: 1;
}

.scroll{
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    height: 90%;
    width: 102%
}

.project{
    height: 100%;
    width: 90%;
    background-color: #c75146;
    border: 0px solid;
    border-radius: 20px;
    padding: 15px;
    align-content: center;
    margin-top: 20px;
}

a{
    margin: 20px;
    padding:20px;
    font-style: oblique;
}

img{
    width: 75%;
    height: auto;
    margin: 15px;
    border-radius: 15px;
}

p{
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}